<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet" />
<title>COVID-19 Infections in Finland</title>
<style>
  /*
    font weights: 400, 700
  */
  * {
    box-sizing: border-box;
  }
  html,
  body {
    margin: 0;
    padding: 0;
    background: #232227;
    font-family: 'Roboto', sans-serif;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;
  }
  .col-wrapper {
    display: flex;
    flex-direction: column;
  }
  h1 {
    margin: 0;
    padding: 0;
    font-size: 250px;
    white-space: nowrap;
    color: rgb(168, 7, 7);
    text-align: center;
    font-weight: 700;
    text-shadow: 10px -10px 0px rgba(122, 5, 5, 0.9), 9px -9px 0px rgba(122, 5, 5, 0.9),
      8px -8px 0px rgba(122, 5, 5, 0.8), 7px -7px 0px rgba(122, 5, 5, 0.8), 6px -6px 0px rgba(122, 5, 5, 0.7),
      5px -5px 0px rgba(122, 5, 5, 0.7), 4px -4px 0px rgba(122, 5, 5, 0.6), 3px -3px 0px rgba(122, 5, 5, 0.6),
      2px -2px 0px rgba(122, 5, 5, 0.5), 1px 1px 0px rgba(122, 5, 5, 0.5);
  }
  p {
    text-align: center;
    margin: 0;
    color: #807f81;
    font-size: 46px;
  }

  .map-wrapper {
    text-align: center;
  }
  .map-wrapper > svg {
    width: auto;
    height: 86vh;
  }
  polygon {
    fill: #3f3f41;
    stroke: #807f81;
  }
  #_48994456,
  #_49013664 {
    fill: rgb(122, 5, 5);
  }
  @media screen and (max-width: 992px) {
    .wrapper {
      flex-direction: column;
    }
  }
</style>
