<!DOCTYPE html>
<html>
  <head>
    <%- include ('partials/header') %>
  </head>
  <body>
    <div class="wrapper">
      <h1 id="infected"><%= infected %></h1>
      <p>Currently infected in finland</p>
    </div>
  </body>
</html>
