<!DOCTYPE html>
<html>
  <head>
    <%- include ('partials/header') %>
  </head>
  <body>
    <div class="wrapper">
      <div class="col-wrapper">
        <h1 id="infected"><%= infected %></h1>
        <p>Currently infected in finland</p>
      </div>
      <div class="map-wrapper"><%- include ('finland.svg') %></div>
    </div>
  </body>
</html>
